<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="apple-touch-startup-image" href="launch.png">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>ADM</title>
        <link rel="shortcut icon" href="icon.png">
        <!------------------------------------------------------------------------------------------>
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="scriptAdm.js"></script>
    </head>
<body>
    <input type="text" id="key" placeholder="Chave Pix"><input type="number" id="valor" placeholder="Valor"><button id="search">Adicionar</button>
    <br>
    <button id="eraseOrders">Apagar pedidos</button>
    <p id="nextDay"></p>
    <button id="addDay">+</button>
    <br><br><br><br><br><br>
    <h4>Mudar informações de usuário</h4>
    <input type="text" id="changingUserId" placeholder="ID do User">
    <select id="changingInfoType">
        <option value="email">Nome</option>
        <option value="senha">Senha</option>
        <option value="chavePix">Chave Pix</option>
    </select>
    <input type="text" id="changingInfo" placeholder="Novo Texto">
    <button id="changeInfo">Alterar</button>
    <br><br><br><br><br><br><br><br>
    <h2>Histórico</h2>
    <ul id="lastActions">

    </ul>
</body>
</html>